---
layout: archive
title: "Honors & Awards"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<div>

 <b> NTUA Thomaidion Award** for the publication </b> "A paradigm shift toward satisfaction, realism and efficiency in wireless networks resource sharing," (May 2022).

    
**A.G. Leventis Foundation Scholarship** for graduate studies in Electrical Engineering (2021-2023).


**Bodossaki Foundation Scholarship** for graduate studies in Electrical Engineering (2021-2022).
      

**Gerondelis Foundation Award** for Academic Excellence (2020-2021).


**NTUA Thomaidion Award** for the publication "Redesigning Resource Management in Wireless Networks based on Games in Satisfaction Form," (Sept. 2021).

    
**Special Account for Research Funding (E.L.K.E.) of NTUA Scholarship** for Academic Excellence (2019-2020).

    

**Space Hellas "Dimitris Manolopoulos" Scholarship** for Academic Excellence (Dec. 2019).


**Best Paper Award** in the 12th IFIP Wireless and Mobile Networking Conference (WMNC '19) for the paper "Redesigning Resource Management in Wireless Networks based on Games in Satisfaction Form," (Sept. 2019).



  
</div>

