---
layout: archive
title: "Honors & Awards"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<br>


<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<div>

 <b> NTUA Thomaidion Award</b> for the publication "A paradigm shift toward satisfaction, realism and efficiency in wireless networks resource sharing," (May 2022).

</div>
<br>
<div>
  
<b> A.G. Leventis Foundation Scholarship </b> for graduate studies in Electrical Engineering (2021-2023).

</div>
<br>

<div>
<b>Bodossaki Foundation Scholarship</b> for graduate studies in Electrical Engineering (2021-2022).
</div> 
<br>

<div>
<b>Gerondelis Foundation Award</b> for Academic Excellence (2020-2021).
</div>
<br>

<div>
<b>NTUA Thomaidion Award</b> for the publication "Redesigning Resource Management in Wireless Networks based on Games in Satisfaction Form," (Sept. 2021).
</div>
<br> 
<div>
<b>Special Account for Research Funding (E.L.K.E.) of NTUA Scholarship</b> for Academic Excellence (2019-2020).
</div>
<br>    
<div>
<b>Space Hellas "Dimitris Manolopoulos" Scholarship</b> for Academic Excellence (Dec. 2019).
</div>
<br>
<div>
<b>Best Paper Award</b> in the 12th IFIP Wireless and Mobile Networking Conference (WMNC '19) for the paper "Redesigning Resource Management in Wireless Networks based on Games in Satisfaction Form," (Sept. 2019).
</div>


  


